


body {
  font-family: 'Lato', sans-serif;
  color: #585858;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}




/* ==== Helper classes ==== */

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-box {
  font-family: 'Lato', sans-serif;
  padding-bottom: 30px;
}

.title-box i{
  font-size: 36px;
  color: #aaa;
}

.title-box p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
}

.title-box h2 {
  font-weight: 700;
  margin-top: 10px;
}

.title-box h4 {
  width: 60%;
  line-height: 24px;
  margin: 10px auto;
  font-size: 16px;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Lato', sans-serif;
}

.bg-lightgray {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #222328;
}

.text-custom {
  color: #f42367;
}

.text-warning {
  color: #ffbd4a;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-50 {
  margin-top: 50px;
}

.font-2 {
  font-style: italic;
  font-weight: 400;
}

.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}


/* Background images css */
.bg-home {
 /* background: url("../assets/images/img-1.jpg"); */
  background-size: cover;
  background-color: #222328;
  position: relative;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(34, 35, 40, 0.9);
}

/* Social */
.social li a {
  display: block;
  height: 32px;
  width: 32px;
  color: #ffffff !important;
  line-height: 36px;
  text-align: center;
  text-decoration: none !important;
  border-radius: 50%;
}

/* ==== Buttons ==== */

.btn {
  font-family: 'Lato', sans-serif;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.btn:hover {
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
}

.btn-sm {
  padding: 7px 24px;
  font-size: 12px;
}

.btn-custom {
  background-color: #3853e9;
}

.btn-secondary {
  background-color: #f42367;
}

.bg-facebook {
  background-color: #3b5998 !important;
}

.bg-twitter {
  background-color: #00aced !important;
}

.bg-linkedin {
  background-color: #007bb6 !important;
}

.bg-dribbble {
  background-color: #ea4c89 !important;
}

.bg-googleplus {
  background-color: #dd4b39 !important;
}




/*===== Navbar Custom ======*/

.navbar-custom{
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.sticky-wrapper {
  position: absolute;
  width: 100%;
}

.navbar-nav {
  margin-top: 10px;
}

.logo {
  font-weight: 500;
  font-size: 26px;
  color: #ffffff !important;
  font-family: 'Lato', sans-serif;
}

.logo span {
  color: #3853e9;
}

.navbar-custom .navbar-nav li a {
  color: #bbb;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  background-color: transparent !important;
  padding: 7px 0;
  margin: 0 15px;
}

.navbar-custom .navbar-nav li a:hover,.navbar-custom .navbar-nav li a:focus,.navbar-custom .navbar-nav li a:active {
  color: #ffffff;
}

.navbar-custom .navbar-nav li.active a {
  color: #ffffff !important;
  border-color: #f42367;
}

.is-sticky .navbar-custom{
  margin-top: 0px;
  padding: 10px 0px;
  background-color: #222328;
    -moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
  box-shadow: 0 10px 33px rgba(0,0,0,.1);
  z-index: 1 !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.navbar-custom .btn-custom {
  margin-top: 8px;
  margin-left: 20px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}


/* Navbar white */

.navbar-header-white {
  background-color: #ffffff !important;
  padding: 15px 0px !important;
}

.navbar-header-white .logo {
  color: #222328 !important;
}
.navbar-header-white.navbar-custom .navbar-nav li a {
  color: #666 !important;
}

.navbar-header-white.navbar-custom .navbar-toggle {
  color: #222328;
}

/*===== Home ======*/

.home-fullscreen {
  height: 100%;
  min-height: 400px;
}

.home-wrapper {
  color: #ffffff;
}

.home-wrapper-alt{
  display: table-cell;
  vertical-align: middle;
}

.home-wrapper h1{
  font-family: 'Lato', sans-serif;
  line-height: 48px;
  margin-top: 0;
}

.home-wrapper h4 {
  line-height: 22px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  font-size: 15px;
}

.video-btn {
  color: #ffffff !important;
  letter-spacing: 1px;
  outline: none !important;
}

.video-btn i {
  margin-right: 7px;
  height: 24px;
  width: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #222328;
  line-height: 24px;
  border-radius: 50%;
  padding-left: 3px;
  font-size: 12px;
}

.full-screen {
  display: table;
  height: 100%;
  width: 100%;
}


/* === HOME VARIATIONS === */
.home-small {
  padding: 210px 0 160px 0;
}


/* Home intro */
.home-intro h2 {
  color: #fff;
  font-size: 67px;
  line-height: 61px;
  margin: 0 0 40px;
  font-weight: 600;
}

.home-intro p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-right: 25%;
}

.home-intro .intro-form {
  background: #fff;
  padding: 0 40px 40px;
  border-radius: 5px;
  overflow: hidden;
}

.home-intro .intro-form input {
  height: 50px;
  margin-bottom: 15px;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 15px 20px;
  color: #000;
}

.home-intro .intro-form h5 {
  color: #fff;
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background: #3853e9;
  padding: 25px 40px 25px;
  margin: 0 -40px 50px;
  font-weight: 500;
}

.home-intro .intro-form h5 span {
  display: block;
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  font-family: 'Lato';
  opacity: 0.5;
  margin-top: 6px;
}

.home-intro .intro-form p {
  color: #999;
  padding: 17px 30px 0px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  margin: 0px;
}


/* Home Showcase */
.home-showcase {
  padding: 210px 0px 0px 0px;
}

/* Home Header-2 */
.home-header-2 {
  padding: 240px 0px 160px 0px;
}




/*===== Services ======*/

.libraries-box {
  background-color: #ffffff;
  border: 1px solid rgba(238, 238, 238, 0.65);
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.libraries-box:hover {
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.libraries-box:hover i {
  color: #f42367;
}

.libraries-box i {
  font-size: 42px;
  line-height: 95px;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.libraries-box h4 {
  font-family: 'Lato', sans-serif;
}

.libraries-box p {
  margin-top: 20px;
}


/*===== About ======*/
.about {
  padding: 30px 0;
}

.about-box .number{
  height: 60px;
  width: 60px;
  border: 2px solid #585858;
  font-size: 24px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
}

.about-box h3 {
  line-height: 30px;
  font-weight: 900;
 font-family: 'Lato', sans-serif;
}

.about-box h4 {
  line-height: 24px;
  color: #666;
  margin-bottom: 20px;
}

.img-shadow {
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
}





/* === Footer === */

.footer {
  padding: 70px 0;
  color: #dddddd;
}

.footer h5{
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.footer ul.footer-list li a {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding: 2px 0;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.footer ul.footer-list li a:hover  {
  color: rgba(255, 255, 255, 0.8);
}

.footer .social {
  margin-top: 20px;
}

.footer-alt .copy-rights{
  margin: 0;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 30px;
}




/*======= Responsive ======*/

@media (max-width: 767px) {

  .vertical-content {
    display: inherit !important;
  }

  .navbar-custom{
    margin-top: 0px;
    padding: 5px 0px !important;
    background-color: #222328;
    -moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    box-shadow: 0 10px 33px rgba(0,0,0,.1);
  }

  .logo {
    margin-top: 5px;
  }

  .navbar-custom .navbar-nav li.active a {
    color: #f42367 !important;
    border-color: transparent;
  }

  .about-box {
    text-align: center;
  }

  .about-box .number {
    margin: 0 auto;
  }

  .footer h5 {
    margin-top: 30px;
  }

  .title-box h4 {
    width: 95%;
  }

  .home-intro .intro-form {
    margin-top: 50px;
  }

}

@media (max-width: 420px) {

  .home-wrapper h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .facts {
    margin-bottom: 30px;
  }

}